body{
    background-image: url(../images/background.png);
    /* background-color:blue; */
    background-size: 245vh 100vh;;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 

}
#scribbler
{
    font-family: 'Montez', cursive;
    color: blue;
    font-size: xx-large;

}
#Tag
{
    font-family: 'Ubuntu Mono', monospace;
}
.bt
{
    background-color: blue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    font-family: 'Nunito Sans', sans-serif;
}