/* this is for body  */
body{
    
    background-size: 245vh 100vh;;
}
/* this is for header in which define driect to put elements  */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 

}
/* it is header word Scribbler */
#scribbler
{
    font-family: 'Montez', cursive;
    color: blue;
    font-size: xx-large;

}
/* this is for tagline of web  */
#Tag
{
    font-family: 'Ubuntu Mono', monospace;
}

/* this is for button signup and sign in  */
.bt
{
    background-color: blue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    font-family: 'Nunito Sans', sans-serif;
}
textarea{
     
   
}

/* this is class of div in which the post header and post will be there */
.poster{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220vh;
}

/* this is class of usename and edit option  */
.postin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 180vh;
    margin-bottom: 20px;

}
/* this is headline id which designed here  */
#headone{

    border-color: Transparent;   
    width: 190vh;
    font-weight: bolder;
    font-size: x-large;
    overflow: hidden;
    margin-bottom: 15px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    position: relative;
    resize: none;

    
}
/* this is for author name  */
#author{
    font-family: 'Sacramento', cursive;
    font-size: x-large;
    font-weight: 530;
}
/* it is for edit and save button  */
.change{
    border: 0;
    background-color: #ff3355;
    height: 40px;
    width: 80px;
    color: white;  
    font-weight: 800; 
    margin-bottom: 10px;
    margin-top: 5px;
    
    box-shadow: 0px 10px 31px 0px rgba(255,51,85,0.38);

    
 
}

/* it is for the post area in which and how it will look */
.content{

    width: 180vh;
    border-color: Transparent; 
    margin-right: 30px;
    height: 40vh;
    font-family: 'IBM Plex Serif', serif;
    color: black;
    font-weight: 400;
    font-size: large;


}

/* this is for like button  */
#like{
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: flex-start;
    width: 180vh;
}

/* this is for commend divison */

.commentcontainer{
    width: 180vh;
    align-items: flex-start;

}

/* this is for comment box only  */
#commentbox{
    width:60vh;
    height: 10vh;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

/* it is for after adding comment  */
#commentadd{

    align-items: flex-start;
    background-color: #cccccc;
    width:66vh;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
}
/* this is for add comment button  */
.ctadd{

    border: 0;
    background-color: white;
    color: black;
    width:60vh;
    height: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    

}
/* this is used for font any where  */
.fontcode{
   font-family:  Sans-serif	;
}