body{
    background-color:#ffeedd;
    background-size: 245vh 100vh;;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    

}
#scribbler
{
    font-family: 'Montez', cursive;
    color: blue;
    font-size: xx-large;

}
#Tag
{
    font-family: 'Ubuntu Mono', monospace;
}
.bt
{
    background-color: blue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    font-family: 'Nunito Sans', sans-serif;
}
/* ABove code same as index page  */

/* this containerone is for all post div  */
.containerone{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
   
    
}

/* this is for eachbox in the post division */

.boxone{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    width: 600px;
    height: auto;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-transition-duration: 0.3s;
    

}
/* for that box shadow  */
.boxone:hover,.boxone:focus,.boxone:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    
}

/* this is for username/author name */
.user{
    display: flex;
    background-color: white;
    width: 140px;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


}

/* this is for that post which will be written by authore */
.post{
    background-color:#e6e6e6;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
/* this is container of every post  */
.innerhead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
/* for everypost there will be heading and it is for that */

.headone{
    font-weight: bold;
    color: #8c8c8c;
    margin-left: 10px;
}
/* this is for delete box  */
.trash{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
    
}
.username{
    margin-left: 5px;;
    margin-right: 5px;
    color: #8c8c8c;
    font-weight: 800;
}

/* this is for extension part to extend post  */
.exone{
     position: relative;
     left: 90%;
     color: #8c8c8c;
     margin-bottom: 20px;
     cursor: pointer;

}
.para{
    margin-left: 10px;
    margin-right: 5px;
    font-size: 16px;
}

/* this is for box which will open when I will delete  */
#dialogbox{
    display: none;
    position: absolute;
    background: white;
    padding: 10px 10px 10px 10px;
    width: fit-content;
    z-index: 10;
    top: 40%;
    left: 40%;
   
}
/* this will block screen to none and give the opticity and postion  */
#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #000000;
	width: 100%;
	z-index: 10;
}

/* this is for button box which will contain yes/no to delete  */
#buttonbox{
    display: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
/* this is for delete button */
#delete{
   background-color: green;
   color: white;
   padding: 10px 30px 10px;
   border: 0;
   margin: 20px 5px 5px 5px;

}
/* this is head of dialogbox to sure that uh want to delete or not  */
#dialogboxhead{
    margin: 20px 5px 5px 5px;
}
/* this is for cancel button  */

#cancel{
    background-color:  red;
   color: white;
   padding: 10px 30px 10px;
   border: 0;
   margin: 20px 5px 5px 5px;
}
  